/* Colors */
$white: #FFFFFF;
$light-grey: #D6D6D6;
$lapis-blue: #001E57;
$dark-grey: #212121;
$unrealfoodpills: #FA6900;
	
$satan: #666;
$palest: #FBFBFB;
$paprikash: #FA560A;


/* Dimensions */
$header-height: 64px;
$standard-padding: 12px;
$em16d14: 1.142857em; /* 16 / 14 */

html, body {
	height: 100%;
}

/* Type */
$font-pt-sans: 'PT Sans', 'Helvetica', sans-serif;
$font-pt-sans-narrow: 'PT Sans Narrow', 'Helvetica', sans-serif;

h2 {
	font-family: $font-pt-sans;
	color: $dark-grey;
}

a {
	color: $unrealfoodpills;
}

body {
	width: 100%;
	margin: 0;
	background-color: $white;
	font-size: 14px;
}

#header {
	width: 100%;
	height: $header-height;
	background-color: $lapis-blue;
	
	a {
		text-decoration: none;
		color: $white;
	}
}

#header-wrap {
	/* Override in media queries */
	position: relative;
}

#social {
	position: absolute;
	right: $standard-padding;
	margin: 0;
	top: 0;
	height: $header-height;
	
	
	li {
		display: inline-block;
		padding: 0;
		width: 40px;
		margin: 12px 16px 0 0;
		
		a {
			display: block;
			height: 40px;
			background-image: url('../icons/sprites-40.png');
		}
		
		a.twitter {
			background-position: 120px 0px;
		}
		
		a.github {
			background-position: 40px 0px;
		}
		
	}
	
	&:first-child {
		margin: 12px 10px 0 0;
	}	
}

#lede {
	line-height: $header-height;
	color: $white;
	font-size: 40px;
	position: relative;
	left: $standard-padding;
	font-family: $font-pt-sans;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

#nav {
	$emheight: 2.285714em;	
	background: $light-grey url('../21_42.png') repeat 0 0;	
	ul {
		margin: 0;
		padding-left: $standard-padding;
		height: $emheight;
		font-family: $font-pt-sans;
		
		li {
			display: inline-block;
			height: $emheight;
			line-height: $emheight;
			margin-right: $standard-padding;
			margin-bottom: 0;
			margin-top: -1px;
			padding: 0;
			font-size: $em16d14;
			
			a {
				color: $white;
				text-decoration: none;
			}
			
		}
		
	}	
}

#content {
	width: 100%;
	border-top: 1px solid $white;
	background-color: $white;
	margin: 0 auto -2em;	

	div.wrap {
		padding: 0 $standard-padding;
	}
}
/*
.shadow {
	background-color: $white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
*/

#content-wrapper {
	position: relative;
}

#footer, div.push {
	height: 2em;
}

#footer {
	display: none;
	padding-left: $standard-padding;
	padding-right: $standard-padding;
	border: 1px solid red;		
}

/* Projects */
h2.project-type {
	font-family: $font-pt-sans-narrow;
	text-transform: uppercase;
	color: #999;
	font-size: 1em; /* 14 */ 
	margin: 0.571428em 0 0.7em 0; /* 8 / 14 */
	border-bottom: 1px solid $light-grey;
}

div.project {
	margin: 1.2em 0 2em;
	$sixof14: 0.428571em; /* 6 / 14 */
	h3 {
		font-family: 'Georgia', 'Times', serif;
		margin-bottom: 2px;
		margin-top: $sixof14;
		padding: 0;
	}
	
	p {
		margin-top: 0.375em;
		font-family: $font-pt-sans;
		line-height: 1.375em;
		padding-right: 5px;
	}
	
	p:last-of-type {
		margin-bottom: $sixof14;
	}
	
	table.previews {
		width: 100%;
		td {
			padding: 0 3px;
		}
		
		td:first-of-type {
			padding-left: 0;
			padding-right: 6px;
		}
		
		td:last-of-type {
			padding-left: 6px;
			padding-right: 0;
		}
				
		td img {
			display: inline-block;
			width: 100%;
			height: auto;
			padding: 0;
		} 
	}
	
	.extlink-wrap {
		$height: 20px;
		position: relative;
		height: $height;
		margin-bottom: 1em;
			a.extlink {
			font-family: $font-pt-sans;
			color: $satan;
			position: absolute; 
			right: 0;
			text-decoration: none;
			text-align: right;
			background-image: url('../icons/arrow-right-16.png');
			background-position: right;
			height: $height;
			line-height: $height;
			background-repeat: no-repeat;
			padding-right: $height;
		}		
	}
}



div.clear {
	clear: both;
	hr {
		display: none;
	}
}

/* media queries 
http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	#lede {
		font-size: 32px;
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation: portrait) {
	#social {
		display: none;
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation: landscape) {
	#social {
		li {
			height: 32px;
			width: 32px;
			margin-top: 16px;
			margin-right: 12px;
			a {
				display: block;
				height: 32px;
				background-image: url('../icons/sprites-32.png');
			}
	
			a.twitter {
				background-position: 96px 0px;
			}
	
			a.github {
				background-position: 32px 0px;
			}		
		}
	}
	
	#footer {
		position: relative;
	}
}

@media only screen and (min-width : 320px) and (max-width : 640px) and (orientation: landscape) {	
	h2.project-type {
		font-size: $em16d14;
	}
}

@media only screen and (max-width : 640px) {
	table.previews-full {
		display: none;
	}
}
@media only screen and (min-width : 640px) {
	div.project {
		min-width: 641px;
		width: 100%;
		clear: both;
		position: relative;
		
		table {
			margin-bottom: 3em;
		}
			
		div.desc {
			margin-right: 480px;
			padding-right: $standard-padding;
			
			div.extlink-wrap {
				margin-right: $standard-padding;
			}
		}
		
		&.even {
			table {
				float: left;
			}
			div.desc {
				margin-left: 480px;
				margin-right: 0;
				padding-right: 0;
				padding-left: 24px;
				
				div.extlink-wrap {
					margin-right: 0;
					margin-left: $standard-padding;
				}
			}
		}
	
	}
	
	table.previews {
		display: none;	
	}
	
	
	table.previews-full {
		max-width: 480px;
		float: right;
		background-color: #000;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		border-spacing: 4px;
		
		td {
			max-width: 154px;
			img {
				max-width: 100%;
				display: block;
			}

		}
	}
	
}

@media only screen and (min-width: 640px) and (max-width: 780px) {
	div.project {
		table.previews-full {
			img {
				max-width: 120px; 
			}
		}
		$transitional-margin: 375px;
		div.desc {
			margin-right: $transitional-margin;
		}
		
		&.even {
			div.desc {
				margin-left: $transitional-margin;
			}
		}
	}	
}

@media only screen and (min-width : 960px) {
	#lede {
		left: 0;
	}
	
	#header {
		div.wrap {
			position: relative;
		}
	}
	
	#social {
		position: absolute;
		right: 0;
	} 
	
	#nav {
		ul {
			padding-left: 0;
		}
	}
		
	.wrap {
		margin: 0 auto;
		width: 960px;
	}
	
	#content {
		div.wrap {
			padding-left: 0;
			padding-right: 0;
		}
	}	
}


/* OOOLLLLD */


/*
body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background-color: $palest;
	margin: 0;
}
	
a {
	color: $satan;
}

a:hover {
	color: $unrealfoodpills;
}

#header {
	position: relative;
	width: 78%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 2em 3em; 
}

#lede {
	display: block;	
	font-family: $font-asap;
	font-size: 1.428571em;
	line-height: 1.2em;
	max-width: 72%;
}

#social {
	position: absolute;
	right: 0;
	margin: 0;
	top: 1em;
	line-height: 36px;
	margin-left: 1em;
	margin-right: 0.4em;
	
	li {
		display: inline-block;
		padding: 0;
		margin: 0 0.4em 0 0;
	}
	
	a {
		$iconsize: 36px;
		display: inline-block;
		width: $iconsize;
		height: $iconsize;
		background-position: 0px 0px;
		background-size: 100%; 
		background-repeat: no-repeat;
	}
	
	a.github {
		background-image: url(../icons/github.png);
		   
	}
	
	a:hover.github {
		background-image: url(../icons/github-orange.png);
	}

	a.contact {
		background-image: url(../icons/contact.png);
		   
	}
	
	a:hover.contact {
		background-image: url(../icons/contact-orange.png);
	}

	a.twitter {
		background-image: url(../icons/twitter.png);		   
	}
	
	a:hover.twitter {
		background-image: url(../icons/twitter-orange.png);
	}
}

#nav {
	margin: 0 0 2.8em -6px;
	padding: 0;
	
	li {
		display: inline;
		font-size: 1em;
		font-family: $font-asap;
		margin-right: 1.8em; 
		
		a {
			padding: 6px;
		}
		
		a.current {
			background-color: #FCFCFC;
			border-top: 1px solid #DDD;
		}
	}	
}

h2, h3 {
	font-family: $font-asap;
}

h2 {
	font-size: 1.8em;
	margin-top: 0.1em;
	line-height: 1em;
	margin-bottom: 0;
}

h3 {
	font-size: 1.4em;
}

#wrap {
	width: 78%;
	max-width: $max-width;
	margin: 0 auto;
	background-color: white;
	padding: 2.8em 3em 2em; 
}

ol {
	line-height: 1.2em;	
	margin-bottom: 2em; 

	li {
		margin-bottom: 0.8em;
	}
	
	p {
		line-height: 0.8em;
	}
}

#colophon {
	width: 78%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 2em 3em 2.8em;
	font-size: 1em;
	line-height: 0.857142em;
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	/*
	filter: alpha(opacity=70);
	
	opacity: 0.7;
	-moz-opacity: 0.7
	
	a {
		color: #000000;
	}
	
	a:hover {
		color: #333;
	}  
}

table.projects {
	border-color: none;
	border-collapse: collapse;
}

.thumb img {
	width: 150px;
	height: 150px;
	border: 1px solid #DDD;
	margin-bottom: 3em;
}

td.description {
	vertical-align: top;
	padding-left: 1.4em;
}

td.description h3 {
	font-family: $font-asap;
	font-size: 1.8em;
	margin-top: 0.1em;
	line-height: 1em;
	margin-bottom: 0;
	.subtitle {
		display: block;
		font-size: 0.6em;
	}
}

/* Custom styles for Fancybox */
/*
#fancybox-title-inside {
	font-weight: bold;
	margin-top: 0.1em;
}
*/