<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='projects/scales/jquery-1.8.3.min.js') }} "></script>
    <script src="{{ url_for('static', filename='projects/scales/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='projects/scales/buzz.js') }}"></script>
    <script>

        /**
         * todo:
         * add tones an octave above, but do not make them the tonic
         * why? to sound good if chosen last.
         */

        $.fn.extend({
            // From http://krazydad.com/tutorials/makecolors.php
            hslToColor: function(h, s, l) {
                return 'hsla(' + h + ',' + s + '%,' + l + '%, 0.7)';
            },

            getColorRainbow: function(size) {
                var limit = 360; // degrees of HSL values
                var cycle = limit/(size);
                var saturation = 80, light = 50;
                var colors = [];

                for (var i = 0; i < size; i++) {
                    colors.push($.fn.hslToColor(Math.floor(cycle * i), saturation, light));
                }
                return colors;
            },

            capitalize : function(string) {
                return string.charAt(0).toUpperCase() + string.substring(1).toLowerCase();
            },

            resetView: function() {
                $('#current').html('');
                $('#scales').html('');
                $('.message').hide();
                $('#kill').attr('disabled', 'disabled');
            }
        });

        var Scale = function(cycle, root, subtype, type) {
            this.root = root;
            this.type = type;
            this.subtype = subtype || "";
            this.scale = this.generate(cycle, (subtype + type), root);
            return this;
        };
        Scale.prototype.getFullName = function() {
            return this.root + " " + ((this.subtype.length > 0) ? this.subtype + " " : "") + this.type;
        };
        Scale.prototype.collapse = function () {
            return this;
        };
        // from http://www.thecipher.com/chord-progressions-minor.html
        Scale.prototype.generate = function(cycle, type, root) {
            var scale = [];
            var intervals = {
                major: [0, 2, 4, 5, 7, 9, 11],
                naturalminor: [0, 2, 3, 5, 7, 8, 10],
                harmonicminor: [0, 2, 3, 5, 7, 8, 11],
                melodicminor: [0, 2, 3, 5, 7, 9, 11]
            };
            for (var i = 0; i < 7; i++) {
                scale[i] = cycle.getAtInterval(root, intervals[type][i]);
            }
            return scale;
        };

        Cycle = (function() {
            var cycle = {};

            cycle.getAtInterval = function(root, interval) {
                var keys = _.keys(cycle.toneMap),
                        index = keys.indexOf(root);

                if (index == -1) {
                    throw "Unknown chromatic root";
                }

                if (interval > keys.length) {
                    interval = keys.length % interval;
                }

                if (interval < 0 && index == 0) {
                    keys = keys.reverse();
                    return keys[Math.abs(interval) - 1];
                }

                if (interval + index > keys.length - 1) {
                    interval -= keys.length - index;
                    return keys[interval];
                }
                return keys[index + interval];
            };

            cycle.toneMap = {
                'c': 'c',
                'd-flat': 'c♯',
                'd': 'd',
                'e-flat': 'e♭',
                'e': 'e',
                'f': 'f',
                'f-sharp' : 'f♯',
                'g': 'g',
                'a-flat': 'a♭',
                'a': 'a',
                'b-flat': 'b♭',
                'b': 'b'
            };

            cycle.audible = function() {
                var active = [];
                // Determine what's playing, if anything
                for (var noteName in cycle.toneMap) {
                    if (cycle.toneMap[noteName].isPlaying) {
                        active.push(noteName);
                    }
                }
                return active;
            };

            cycle.scales = {
            };

            cycle.associate = function(myScale) {
                var name = myScale.getFullName();
                cycle.scales[name] = myScale.scale; // Set the scale in cycle.scales

                // Set the relationships that this scale has with all the scale roots
                $.each(myScale.scale, function(i, el) {
                    cycle.toneMap[el].inScales[name] = name;
                });
            };
            
            cycle.startSound = function(tone) {
                if (cycle.toneMap[tone].soundLeft && cycle.toneMap[tone].soundRight) {
                    cycle.toneMap[tone].soundLeft.bind('timeupdate', function(e) {
                        if (this.getTime() > 2.8) {
                            cycle.toneMap[tone].soundRight.play();
                            this.mute();
                        }
                    });

                    cycle.toneMap[tone].soundRight.bind('timeupdate', function(e) {
                        if (this.getTime() > 2.8) {
                            cycle.toneMap[tone].soundLeft.play();
                            this.mute();
                        }
                    });

                    cycle.toneMap[tone].soundLeft.bind('play', function(e) {
                        this.unmute();
                    });

                    cycle.toneMap[tone].soundRight.bind('play', function(e) {
                        this.unmute();
                        cycle.toneMap[tone].soundLeft.stop();
                    });

                } else {
                    throw "Sounds are not ready";
                }
            };

            // Initialize Cycle.toneMap and the scales
            $.each(cycle.toneMap, function(el, i) {
                var symbol = cycle.toneMap[el];
                cycle.toneMap[el] = {
                    symbol: symbol,
                    isPlaying: false,
                    inScales: {}
                };
            });

            $.each(cycle.toneMap, function(element, i) {
            	// TODO: write URL adapter so this comes from Flask
            	var pathTo = "{{ url_for('static', filename='projects/scales/files/') }}" + element + ".wav";
            	cycle.toneMap[element].soundLeft = new buzz.sound(pathTo, { loop: false });
                cycle.toneMap[element].soundRight = new buzz.sound(pathTo, { loop: false });
                // Hacked "seamless" playback
                        // http://forestmist.org/2010/04/html5-audio-loops/
                        // tl;dr: HTML5 Audio.loop doesn't work seamlessly in any browser.
                        // Two alternating sounds work around the gap.
                        cycle.toneMap[element].soundLeft.bind('timeupdate', function(e) {
                            if (this.getTime() > 2) {
                                cycle.toneMap[element].soundRight.play();
                                this.setTime(0);
                                //this.pause();
                            }
                        });

                        cycle.toneMap[element].soundRight.bind('timeupdate', function(e) {
                            if (this.getTime() > 2) {
                                cycle.toneMap[element].soundLeft.play();
                                this.setTime(0);
                                //this.pause();
                            }
                        });

                        // Init scales.
                        var major = new Scale(cycle, element, "", "major");
                        cycle.associate(major);

                        var naturalMinor = new Scale(cycle, element, "natural", "minor");
                        cycle.associate(naturalMinor);

                        var harmonicMinor = new Scale(cycle, element, "harmonic", "minor");
                        cycle.associate(harmonicMinor);

                        var melodicMinor = new Scale(cycle, element, "melodic", "minor");
                        cycle.associate(melodicMinor);
                
            });


            cycle.doRender = function() {
                var searchResults = cycle.searchForScales();
                var scales;

                $('#current').text(searchResults.playing.join(', '));
                if (searchResults.playing.length > 0) {
                    $('#kill').removeAttr('disabled');
                } else {
                    $('#kill').attr('disabled', 'disabled');
                    $('#scales').html('');
                }

                if (searchResults.playing.length == _.keys(cycle.toneMap).length) {
                    $('.message').hide();
                    $('.troll').show();
                } else if (searchResults.playing.length > 0 && searchResults.related.length == 0) {
                    $('.none').show();
                    $('.memberships').hide();
                    $('.troll').hide();
                    $('#scales').hide();
                } else {
                    $('.message').hide();
                    if (searchResults.playing.length > 2) {
                        var scales = '<ul>';
                        $.each(searchResults.related, function(index, e) {
                            scales += '<li>' + $.fn.capitalize(e) + '</li>';
                        });
                        scales += '</ul>';
                        $('.memberships').show();
                        $('#scales').html(scales).show();
                    }
                }
            };

            cycle.togglePlay = function(noteName) {
                var tone = Cycle.toneMap[noteName];

                if (!tone) {
                    throw "Invalid note in toneMap";
                }

                if (tone.soundLeft) {
                    if (tone.isPlaying == false) {
                        Cycle.restartSound(tone);
                    } else {
                        Cycle.stopSound(tone);
                    }
                    $('#' + noteName).toggleClass('pressed');
                    tone.isPlaying = !(tone.isPlaying);
                }

                cycle.doRender();
            };

            cycle.getNoteSymbol = function(noteName) {
                return cycle.toneMap[noteName].symbol;
            };

            cycle.restartSound = function(tone) {
                tone.soundLeft.unmute();
                tone.soundRight.unmute();
                tone.soundLeft.play();
            };

            cycle.stopSound = function(tone) {
                tone.soundLeft.mute();
                tone.soundRight.mute();
            };

            cycle.searchForScales = function() {
                var matches = [];
                var activeScaleRelationships = [];
                if (!(_.keys(cycle.toneMap).length)) {
                    throw "Scales were not initialized";
                }

                var playing = cycle.audible();
                if (playing.length > 0) {
                    // Something is playing... look for scales that all playing notes are within
                    for (var toneIndex in playing) {
                        var scalesContainingCurrentKey = _.keys(cycle.toneMap[playing[toneIndex]].inScales);
                        activeScaleRelationships.push(scalesContainingCurrentKey);
                    }

                    // Find the intersection of all scales associated with the currently playing notes.
                    matches = _.intersect.apply(this, activeScaleRelationships);
                }
                return {
                    'playing': _.map(playing, function(val) {
                        return Cycle.toneMap[val].symbol;
                    }),
                    'related': matches
                };
            };

            return cycle;
        })();

        Wheel = (function($) {
            var canvas,
                    properties = {
                        RADIUS: 120,
                        LINE_WIDTH: 90,
                        DIVIDER_WIDTH: 10,
                        DIVIDER_RADIUS: 170,
                        DIVIDER_COLOR: '#FFFFFF',
                        COUNTER_CLOCKWISE: false,
                        LABEL_RADIUS: 150,
                        ARC_LENGTH: Math.PI / (_.size(Cycle.toneMap) / 2), // One-nth of the circle
                        SIZE: 400
                    };

            return {
                init: function(id) {
                    canvas = document.getElementById(id);
                    canvas.width = properties.SIZE;
                    canvas.height = properties.SIZE;
                    $.extend(properties, {
                        X: canvas.width / 2,
                        Y: canvas.height / 2
                    });
                },
                draw: function(colors) {
                    colors = colors || [];
                    var ctx = canvas.getContext('2d');
                    var p = properties;

                    if (Cycle.toneMap && colors.length) {
                        var noteNames = _.keys(Cycle.toneMap);
                        $.each(colors, function(i, el) {
                            ctx.beginPath();
                            var begin = p.ARC_LENGTH * i - (p.ARC_LENGTH/2);
                            var end = begin + p.ARC_LENGTH;

                            ctx.arc(p.X, p.Y, p.RADIUS, begin, end, p.COUNTER_CLOCKWISE);
                            ctx.lineWidth = p.LINE_WIDTH;
                            // line color
                            ctx.strokeStyle = el;
                            ctx.stroke();

                            var xCalculated = Math.cos(i * p.ARC_LENGTH) * p.LABEL_RADIUS,
                                    yCalculated = Math.sin(i * p.ARC_LENGTH) * p.LABEL_RADIUS;
                            var pos = {
                            // these values are invented
                                x: xCalculated - (0.15 * xCalculated) - 8,
                                y: yCalculated - (0.2 * yCalculated) - 16
                            };

                            $('#buttons').append(
                                '<a href="#" class="note-name" id="' + noteNames[i] + '" style="left: ' + pos.x + 'px; top: ' + pos.y + 'px">' + Cycle.getNoteSymbol(noteNames[i]) + '</a>'
                            );
                        });

                        // Draw a star that creates the divisions between sections
                        ctx.translate(p.X, p.Y);
                        ctx.rotate(p.ARC_LENGTH / 2);
                        for (var i = 0; i < colors.length / 2; i++) {
                            ctx.beginPath();
                            ctx.lineWidth = p.DIVIDER_WIDTH;
                            // line color
                            ctx.strokeStyle = p.DIVIDER_COLOR;
                            ctx.moveTo(-p.DIVIDER_RADIUS, 0);
                            ctx.lineTo(p.DIVIDER_RADIUS, 0);
                            ctx.stroke();
                            ctx.closePath();
                            ctx.rotate(p.ARC_LENGTH);
                        }
                        ctx.translate(-p.X, -p.Y);


                    } else {
                        throw "No color array defined";
                    }

                }
            };
        })(jQuery);


        $(document).ready(function() {
            Wheel.init('wheel');

            var colors = $.fn.getColorRainbow(_.size(Cycle.toneMap));

            $('.note-name').live('click', function(e) {
                e.preventDefault();
                Cycle.togglePlay($(this).attr('id'));
            });

            $('#kill').click(function(e) {
                e.preventDefault();
                $.each(Cycle.toneMap, function(i, el) {
                    if (el.isPlaying) {
                        Cycle.stopSound(el);
                        el.isPlaying = false;
                        $('#' + i).removeClass('pressed');
                    }
                });

                $.fn.resetView();
            });

            Wheel.draw(colors);
        });
    </script>
    <style type="text/css">
        body {
            font-size: 12px;
            font-family: sans-serif;
        }

        #wrap {
            max-width: 800px;
            margin: 0 auto;
        }

        .message {
            display: none;
        }

        .note-name {
            font-size: 2em;
            letter-spacing: -2px;
            color: rgba(0, 0, 0, 0.6);
            text-decoration: none;
            position: absolute;
            text-align: center;
            margin: 0;
        }

        .note-name + .pressed,
        #c.pressed {
            color: rgba(0, 0, 0, 1.0);
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
        }

        #current {
            display: block;
            font-size: 2.5em;
        }

        #wheel {
            font-family: serif;
        }

        button#kill {
            height: 40px;
            font-size: 2em;
            width: auto;
            display: block;
            margin: 0 auto 1.2em;
        }

        h1 {
            font-size: 3em;
        }

        #lolwut a, #colophon a {
            color: #666666;
        }

        #lolwut a:hover {
            color: #FA560A;
        }

        #colophon a:hover {
            color: #999;
        }

        #buttons {
            position: absolute;
            left: 200px;
            top: 200px;
            width: 200px;
            height: 200px;
        }

        #container {
            position: relative;
            width: 400px;
            margin-top: 0;
            float: left;
        }

        #results {
            margin-top: 0;
            padding-top: 4em;
            margin-left: 420px;
        }

        #related {
            font-size: 1.2em;
            margin-top: 0.8em;
        }

        #scales ul {
            list-style-type: none;
            padding-left: 1.6em;
            margin-top: 0.2em;
        }

        #scales ul li {
            padding: 0.1em 0;
        }

        #lolwut {
            clear: both;
            background-color: #EFEFEF;
            padding: 0.8em 1.6em;
            border-radius: 12px;
        }

        #colophon {
            text-align: center;
            margin: 1.8em 0;
            font-size: 0.8em;
            color: #AAAAAA;
        }
    </style>
</head>
<body>
<div id="wrap">
<h1>cranky scale generator makes angry scales</h1>
<div id="container" style="position: relative;">
    <canvas id="wheel"></canvas>
    <div id="buttons"></div>
    <button id="kill" disabled="disabled">hush</button>
</div>
<div id="results">
    <div id="current"></div>
    <div id="related">
        <div class="message troll">Oww, that hurts!!</div>
        <div class="message none">That's not part of any scale :(</div>
        <div class="message memberships">These will make</div>
        <div id="scales">
        </div>
    </div>
</div>
<div id="lolwut">
    <h2>What's this, then?</h2>
    <p>Click a few notes to learn the musical scales they produce.</p>
    <p>It is <strong>not</strong> a <a href="http://en.wikipedia.org/wiki/Circle_of_fifths">circle of fifths</a>. It's just the chromatic sequence. It'll tell you the keys that you can build with a handful of notes, but this doesn't give you any of the extra clues about key signature or interval that you get from the traditional circle. I'm using <a href="http://www.circle-of-fifths.net/learn.html" target="_blank">Jan's Circle of Fifths</a> (Flash) to teach myself how that all works.</p>
    <p>The cranky scale generator knows about the <a href="http://en.wikipedia.org/wiki/Major_scale">major scales</a> and the <a href="http://en.wikipedia.org/wiki/Minor_scale">natural, harmonic, and melodic minors</a>.</p>
    <p>If you have any suggestions for making this better, you could <a href="http://www.arilacenski.com/about/">email me</a>, but it would be so much cooler if you sent me a pull request on <a href="https://github.com/tensory/firmataphone">Github</a>.</p>
</div>
<div id="colophon">CC-BY-SA <a href="http://www.arilacenski.com">Ari Lacenski</a> in late 2012 | Written in JavaScript and HTML5</div>
</div>
</body>
</html>
