<h2>This is me.</h2>
<ol>
	<li>I'm a JavaScript and Python developer in San Francisco. Before that, Brooklyn. I'm originally from Seattle.</li>
	<li>I believe passionately that car culture and transit-hostile urban planning kill cities, deepen global wealth inequality, and are a critical root of climate change.</li>
	<li>I love bicycles. Also coffee.</li>
	<li>I speak Spanish and have been a UX designer, UI localizer, &amp; accessibility researcher.</li>
	<li>Hackerspaces and free culture bring me joy. Building beautiful things keeps me going.</li>
	<li>I'm a feminist and a creator-participant in tech communities for girls, women, &amp; genderqueer people.</li>
	<li>Sometimes I paint, <a href="http://www.flickr.com/photos/tensory" target="_blank">take pictures</a>, climb up tall things, and try to cook foods.</li>
	<li>Letter and spirit. Equality for all. <a href="http://en.wikipedia.org/wiki/Tikkun_olam">Tikkun olam</a>. Beginner-mind.</li>
</ol>