{% extends "layout.html" %}

{% block content %}

<!--
<h2>This is me.</h2>
<ol>
	<li>I'm an Android </li>
	<li><p>I believe passionately in eliminating dependence on cars and making cities friendly for transit, bicycles, and pedestrians.</p><p>Car-oriented planning worsens global poverty, makes cities unlivable, and is a critical root of climate change.</p></li>
	<li>Bicycles are excellent. Also coffee.</li>
	<li>I'm bilingual in English and Spanish and have been a UX designer, UI localizer, &amp; accessibility researcher.</li>
	<li>Hackerspaces and free culture bring me joy. Building beautiful things keeps me going.</li>
	<li>I'm a feminist and a creator-participant in tech communities for women &amp; genderqueer people.</li>
	<li>Sometimes I play music, <a href="http://www.flickr.com/photos/tensory" target="_blank">take pictures</a>, climb rocks and trees, and try to cook.</li>
	<li>Equality for all. <a href="http://en.wikipedia.org/wiki/Tikkun_olam">Tikkun olam</a>. Beginner-mind.</li>
</ol>
<p>I'm on various islands in the Archipelago of Social Media: <a href="https://www.flickr.com/photos/tensory" target="_blank">Flickr</a>, <a href="https://www.twitter.com/tensory" target="_blank">Twitter</a>, <a href="https://plus.google.com/111820322244514033819/" target="_blank">Google+</a> and <a href="https://github.com/tensory/">Github</a>.</p><p>You can also email me at alacenski@gmail.com.</p>
-->
{% endblock %}
