{% extends "layout.html" %}

{% block content %}

<h2 class="about">Hi there!</h2>
<ul class="about">
<li>I'm a software engineer in San Francisco. I build Android apps, Python data processing software, and complete user interfaces in good ol' JavaScript.</li>
<li>Bikes are excellent and I use them to get most places.</li>
<li>I play flute and guitar, the latter for much less time but more fervently. I am completely enthralled with studying and writing bluegrass-style music.</li>
<li>I'm bilingual in English and Spanish and have been a UX designer, UI localizer, &amp; accessibility researcher.</li>
<li>I'm a feminist &amp; strive for intersectional awareness &amp; basic kindness to all people.</li>
<li>Good ideas:<br/>Doing the best work possible. Designing for humans. Equality. <a href="http://en.wikipedia.org/wiki/Tikkun_olam">Tikkun olam</a>. Beginner-mind.</li>
</ul>

<p class="contact"> I'm on various islands in the Archipelago of Social Media: <a href="https://www.flickr.com/photos/tensory" target="_blank">Flickr</a>, <a href="https://www.twitter.com/tensory" target="_blank">Twitter</a>, <a href="https://plus.google.com/111820322244514033819/" target="_blank">Google+</a> and <a href="https://github.com/tensory/">Github</a>.</p><p class="contact">You can also email me at alacenski@gmail.com.</p>
{% endblock %}
