{% extends "layout.html" %}
{% set img_path = 'assets/images/' %}
{% block content %}
<h2 class="project-type">Android</h2>
<div class="project">
	<table class="previews">
		<tr>
			<td><img src="{{ url_for('static', filename=img_path + 'airport_time/previews/landing.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'airport_time/previews/search.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'airport_time/previews/status.png') }}"/></td>			
		</tr>
	</table>
	<table class="previews-full">
		<tr>
			<td><img src="{{ url_for('static', filename=img_path + 'airport_time/landing.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'airport_time/search.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'airport_time/status.png') }}"/></td>			
		</tr>
	</table>
	<div class="desc">
		<h3>Airport Time</h3>
	<p>Airport Time helps you plan your next trip to the airport. You can search for any international airport in the US.</p><p>Using your current location, it provides driving and public-transit directions via Google Maps, with the amount of time it will take to get there. Airport delay info and current weather are included.</p><p>You can also save favorite airports and keep directions in the background for your last searched destination.</p>
		<div class="extlink-wrap">
			<a class="extlink" href="https://github.com/tensory/airportstatus/" target="_blank">Github</a>
		</div>
	</div>
</div>

<div class="project even">
	<table class="previews">
		<tr>
			<td><img src="{{ url_for('static', filename=img_path + 'icbint/previews/logo.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'icbint/previews/oauth.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'icbint/previews/timeline.png') }}"/></td>			
		</tr>
	</table>
	<table class="previews-full">
		<tr>
			<td><img src="{{ url_for('static', filename=img_path + 'icbint/logo.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'icbint/oauth.png') }}"/></td>
			<td><img src="{{ url_for('static', filename=img_path + 'icbint/timeline.png') }}"/></td>			
		</tr>
	</table>
	<div class="desc">
		<h3>I Can't Believe It's Not Twitter</h3>
		<p>I wrote ICBINT as a class project in the excellent <a href="http://www.thecodepath.com">CodePath</a> Android training course.</p>
	<p>It's a Twitter client, featuring OAuth authentication, your full timeline, and the major features of the standard Twitter app, including posting, viewing other users' timelines, and browsing your timeline with infinite scroll.</p>
		<div class="extlink-wrap">
			<a class="extlink" href="https://github.com/tensory/ICantBelieveItsNotTwitter/" target="_blank">Github</a>
		</div>
	</div>
</div>

<div class="clear"><hr/></div>
<h2 class="project-type">JavaScript</h2>
<table class="js-projects">
	<tbody>
		<tr>
			<td class="thumb">
				<a href="{{ url_for('static', filename='projects/ThreeDo/index.html') }}" class="iframebox" title="ThreeDo"><img src="{{ url_for('static', filename='projects/thumbs/threedo.png') }}"></a>
			</td>
			<td class="description">
				<h3>ThreeDo</h3>
				<p>A demo app using Backbone.js. It's got a few more rules than your basic to-do: tasks in the <em>To Do</em> column can't be dragged straight to <em>Done</em> without a stop in <em>In Progress</em>.</p><p>I didn't know about <a href="https://www.trello.com" target="_blank">Trello</a> when I was asked to write this... but it's pretty great!</p>
				<div class="extlink-wrap"><a class="extlink" href="https://github.com/tensory/ThreeDo/" target="_blank">Github</a></div>
			</td>
		</tr>
		<tr>
			<td class="thumb">
				<a href="{{ url_for('static', filename='projects/jsfind/index.html') }}" class="iframebox" title="JS Find"><img src="{{ url_for('static', filename='projects/thumbs/jsfind.png') }}"></a>
			</td>
			<td class="description">
			<h3>JS Find</h3>
			<p>Written as a mobile-friendly exercise, this toolbar emulates the <em>Find on Page...</em> tool in Firefox.</p>
			<div class="extlink-wrap"><a class="extlink" href="https://github.com/tensory/wikimedia/" target="_blank">Github</a></div>
			</td>
		</tr>
		<tr>
			<td class="thumb"><a href="{{ url_for('static', filename='projects/hatbox/samples/index.html') }}" class="iframebox" title="Hatbox"><img src="{{ url_for('static', filename='projects/thumbs/hatbox.png') }}" title="Hatbox"></a></td>
			<td class="description">
			<h3>Hatbox<span class="subtitle">(a mobile image lightbox)</span></h3>
			<p>Another exercise in JavaScript plugins made to be friendly to mobile devices: a simple image slideshow that cycles through all images on a page.</p>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js') }}"></script>
<script type="text/javascript">
	(function($) {
		$(function() {
			var fancyboxSettings = {
				'width': '90%',
				'height': '80%',
				'titleShow' : true,
				'titlePosition' : 'inside',
				'type': 'iframe',
				'transitionOut': 'none',
				'overlayOpacity'	: 0.5
			};
			
			$('.iframebox').fancybox(fancyboxSettings);
		});
	})(jQuery);	
</script>
{% endblock %}